$black: #222;
$pink-bkg: #f1e4e6;
$pink-color: #f16d7f;
$white: #fff;
// перемнные для адаптива 
$widt-tablet: 1599px;
$width-mobile: 767px;

// Переменные бустарп 
// $breadcrumb-font-size: null;
// $breadcrumb-padding-y: 0;
// $breadcrumb-padding-x: 0;
// $breadcrumb-item-padding-x: .5rem;
// $breadcrumb-margin-bottom: 1rem;
// $breadcrumb-bg: null;
// $breadcrumb-divider-color: $gray;
// $breadcrumb-active-color: $gray;
// $breadcrumb-divider: quote("/");
// $breadcrumb-divider-flipped: $breadcrumb-divider;
// $breadcrumb-border-radius: null;