@font-face {
    font-family: Lato;
    src: url(../../fonts/lato-black-webfont.woff2),
        url(../../fonts/lato-black-webfont.woff);
}

@font-face {
    font-family: Lato;
    src: url(../../fonts/lato-bold-webfont.woff2),
        url(../../fonts/lato-bold-webfont.woff);
}

@font-face {
    font-family: Lato;
    src: url(../../fonts/lato-light-webfont.woff2),
        url(../../fonts/lato-light-webfont.woff);
}

@font-face {
    font-family: Lato;
    src: url(../../fonts/lato-regular-webfont.woff2),
        url(../../fonts/lato-regular-webfont.woff);
}


@font-face {
    font-family: Lato;
    src: url(../../fonts/lato-thin-webfont.woff2),
        url(../../fonts/lato-thin-webfont.woff);
}