.new-offer {
	margin: 0 0 63px 0;
	display: flex;
	position: relative;


}

.new-offer__wrap {
	display: flex;
	align-items: center;
	flex-grow: 1;
	background-color: $pink-bkg;
	position: relative;
}

.new-offer__title-wrap {
	display: flex;
	flex-wrap: wrap;
	min-height: 363px;
	align-items: center;

	@include mobile {
		// width: 100%;
		// justify-content: center;
		@include font($font-size: 38px, $line-height:46px, $font-weight: 900, $font-style: normal)
	}
}

.new-offer__title {
	font-size: 40px;
	padding: 0 0 0 16px;
	font-size: 48px;
	font-weight: 900;
	line-height: 58px;
	text-transform: uppercase;
	border-left: 12px solid $pink-color;
	margin: 0 0 0 64px;

	@include tablet {
		@include font($font-size:44px, $line-height: 52px, $font-weight:900);
		margin: 0 0 0 40px;
	}

	@include mobile {
		@include font($font-size:38px, $line-height: 46px, $font-weight:900);
	}
}

.new-offer__subtitle {
	font-size: 32px;
	font-weight: 700;
	line-height: 38px;
	display: block;

	@include tablet {
		@include font($font-size:44px, $line-height: 52px, $font-weight:900);
	}

	@include mobile {
		@include font($font-size:38px, $line-height: 46px, $font-weight:900);
	}
}

.new-offer__title_subtitle-pink {
	color: $pink-color;
}

.new-offer__img {
	@include tablet {
		width: 50%;
		object-fit: cover;
	}

	@include mobile {
		display: none;
	}
}